.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.nav-link {
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}

.page-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 24px;
}

.page-link:hover,
.page-link:focus {
  color: #747bff;
}
